* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

/*
Font Use: Roboto;

Dark Background Color: #1F2937;

Hero Main Text: 48px #F9FAF8 weight: 900;

Hero Secondary Text, Header Link Text: 18px #E5E7EB;

Hero Logo Text: 24px #F9FAF8;

Button Color, Call to Action Background Color: #3882F6;

Information Header Text: 36px #1F2937 weight: 900;

Quote Section Background Color: #E5E7EB;

Quote Text: 36px #1F2937 weight: 300;
*/

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  height: 80px;

  background-color: #1f2937;

  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

.navigation {
  width: 500px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  list-style: none;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
}

.nav-link,
.logo {
  cursor: pointer;
}
