* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

/*
Font Use: Roboto;

Dark Background Color: #1F2937;

Hero Main Text: 48px #F9FAF8 weight: 900;

Hero Secondary Text, Header Link Text: 18px #E5E7EB;

Hero Logo Text: 24px #F9FAF8;

Button Color, Call to Action Background Color: #3882F6;

Information Header Text: 36px #1F2937 weight: 900;

Quote Section Background Color: #E5E7EB;

Quote Text: 36px #1F2937 weight: 300;
*/

/* Header Styling */

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 80px;

  background-color: #1f2937;

  color: #f9faf8;
}

.logo {
  font-size: 24px;
}

.navigation {
  width: 500px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  list-style: none;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
}

.nav-link,
.logo {
  cursor: pointer;
}

/* Main Styling */

/* Banner Styling */
.banner {
  width: 100%;
  height: 75vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;

  background-color: #1f2937;
}

.bannerDiv {
  width: 31%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerImg img {
  width: 100%;
  height: auto;
}

.bannerP {
  flex-direction: column;
  gap: 10px;
}

.bannerP h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.bannerP p {
  font-size: 18px;
  color: #e5e7eb;
}

.bannerButton button {
  width: 115px;
  height: 40px;

  font-size: 18px;
  color: #e5e7eb;

  background-color: #3882f6;
  border-radius: 5px;
  border: 0.1px solid #e5e7eb;
}

.bannerButton button:hover {
  border: none;
  cursor: pointer;
}

.bannerP h2,
.bannerP p,
.bannerButton {
  width: 100%;
}
